{include file="IWnoteboard_admin_menu.htm"}
<div class="z-admincontainer">
    <div class="z-adminpageicon">
        {if isset($m) AND $m eq 0}
            {img modname='core' src='filenew.gif' set='icons/large' __alt=''}
        {else}
            {img modname='core' src='edit.gif' set='icons/large' __alt=''}
        {/if}
    </div>
    <h2>{$title}</h2>
    <form action=""  class="pn-adminform" method="post" name="new_tema">
        <input type="hidden" name="authid" value="{insert name="generateauthkey" module="IWnoteboard"}" />
        <input type="hidden" name="tid" value="{$tid}">
        <table>
            <tr>
                <td align="left"><strong>{gt text="Topic name"}</strong></td>
                <td align="left"><input type="text" name="nomtema" size="32" maxlength="55" value="{$nomtema}"></td>
            </tr>
            <tr>
                <td align="left"><strong>{gt text="Topic description"}</strong></td>
                <td align="left"><input type="text" name="descriu" size="50" maxlength="200" value="{$descriu}"></td>
            </tr>
            <tr>
                <td align="left"><strong>{gt text="Group with access"}</strong></td>
                <td align="left">
                    <select name="grup">
                        {foreach item="group" from="$grups"}
                            {if $grup eq $group.id}
                                {assign var=selected value='selected'}
                            {else}
                                {assign var=selected value=''}
                            {/if}
                            <option {$selected} value="{$group.id}">{$group.name}</option>
                        {/foreach}
                    </select>
                </td>
            </tr>
        </table>
        <div class="z-formbuttons">
            <a onClick="javascript:send({if isset($m)}{$m}{/if})" title="{$submit}">
                {img modname='core' src='button_ok.gif' set='icons/small'}
            </a>{$submit}
            <a href="#" onclick ='javascript:history.back(-1)'>
                {img modname='core' src='button_cancel.gif' set='icons/small' __alt="Cancel" __title="Cancel"}
            </a>
        </div>
    </form>
</div>

<script type="text/javascript"  language="javascript">
    function send(valor){
        var error=false;
        if(document.new_tema.nomtema.value==''){
            alert('{{gt text="The topic name is empty"}}');
            error=true;
        }
        if(!error){
            if(valor==1){
                document.new_tema.action="index.php?module=IWnoteboard&type=admin&func=modificar"
            }else{
                document.new_tema.action="index.php?module=IWnoteboard&type=admin&func=crear"
            }
            document.new_tema.submit();
        }
    }
</script>